Source: libgebi-dev
Section: libs
Priority: optional
Maintainer: Michael Gebetsroither <michael.geb@gmx.at>
Build-Depends: debhelper (>= 4.0.0), libstdc++-dev
Standards-Version: 3.6.1.1

Package: libgebi-dev
Section: libdevel
Architecture: all
Description: a C++ library of generic design patterns
 A few multithreaded design patterns.
 .
 ATTENTION: THE CLASSES IN THIS PACKAGE ARE LICKELY TO CHANGE,
 because this is my playground c++ lib.
 The recommend way to user this lib is via direct source integration.
