Source: libgebi-dev
Section: libs
Priority: optional
Maintainer: Michael Gebetsroither <gebi@grml.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.7.2

Package: libgebi-dev
Section: libdevel
Architecture: all
Description: a C++ library of generic design patterns
 A few multithreaded design patterns.
 .
 ATTENTION: THE CLASSES IN THIS PACKAGE ARE LIKELY TO CHANGE,
 because this is my playground c++ lib.
 The recommend way to user this lib is via direct source integration.
